
@model Pizza

<h1>Sicuro di voler eliminare la pizza "@Model.Name"?</h1>

<form asp-controller="Pizza" asp-action="ConfirmDelete" asp-route-id="@Model.Id" method="post" >
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-danger">Confermo!</button>
</form>